{% load static %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" href="{% static 'photomap/leaflet/leaflet.css' %}" />
<script src="{% static 'photomap/leaflet/leaflet.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="{% static 'photomap/leaflet-rotatedmarker/leaflet.rotatedMarker.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<link rel="stylesheet" href="{% static 'photomap/leaflet-extramarkers/css/leaflet.extra-markers.min.css' %}">
<script src="{% static 'photomap/leaflet-extramarkers/js/leaflet.extra-markers.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.0.3/fingerprint2.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'photomap/style.css' %}" />