<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% include 'photomap/header.html' %}
    </head>
    <body>
        <div class="upper">
            <video id="local_video" playsinline muted autoplay></video>
            <div class="select">
                <label for="videoSource">Video source: </label>
                <select id="videoSource"></select>
            </div>
            <div class="camera_button">
                <form action="{% url 'photomap:upload' %}" method="POST" name="form_upload" enctype="multipart/form-data" style="display: none;">
                    {% csrf_token %}
                    {{ form.latitude }}
                    {{ form.longitude }}
                    {{ form.direction }}
                </form>
                
                <button id="button_send"  style="visibility: hidden;" onclick="send()">送信</button>
                <button id="button_capture" onclick="capture()"><i class="fas fa-camera"></i></button>
                <button id="button_recap" style="visibility: hidden;" onclick="recap()">撮り直し</button>
            </div>
            <canvas id="camera_canvas"></canvas>
        </div>
        <div class="lower">
            <div id="map"></div>
            <a href="{% url 'photomap:map' %}" class="change_button">表示切替</a>
        </div>
        <input type="hidden" id="static" value="{% static '' %}">
        <script src="{% static 'photomap/map.js' %}"></script>
        <script src="{% static 'photomap/camera.js' %}"></script>
    </body>
</html>