<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% include 'photomap/header.html' %}
    </head>
    <body>
        <div id="map"></div>
        <div id="logout">
            <div id="username">{{ user.username }}</div>
            <a href="{% url 'logout'%}" class="button">ログアウト</a>
        </div>
        
        <div id="change_button">
            <a href="{% url 'photomap:camera' %}" class="button">表示切替</a>
        </div>

        <form action="{% url 'photomap:upload' %}" method="POST" name="form_upload" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="display: none">
                {{ form.latitude }}
                {{ form.longitude }}
                {{ form.direction }}
                {{ form.photoby }}
            </div>
            <div id="label_button">
                <label for="id_image" class="button">
                    <i class="fas fa-camera"></i>
                    {{ form.image }}
                </label>
            </div>
        </form>
        <input type="hidden" id="static" value="{% static '' %}">
        <input type="hidden" id="media" value="{{ MEDIA_URL }}">
        <script src="{% static 'photomap/map.js' %}"></script>
        <script>
            const input = document.querySelector('#id_image');
            input.setAttribute("capture", "camera");
            input.style = "display: none;";
            input.addEventListener('change', updateImage);
            function updateImage(e) {
                const form_latitude = document.querySelector("#id_latitude");
                const form_longitude = document.querySelector("#id_longitude");
                const form_direction = document.querySelector("#id_direction");
                const form_photoby = document.querySelector("#id_photoby");
                form_latitude.value = latitude;
                form_longitude.value = longitude;
                form_direction.value = direction;
                form_photoby.value = document.querySelector("#username").innerHTML;

                const file = e.target.files;
                const reader = new FileReader();
                reader.readAsDataURL(file[0]);
                console.log(reader);
                reader.onload = () => {
                    const img = new Image();
                    img.src = reader.result;
                    img.onload = () => {
                        //console.log(window.innerWidth);
                        //console.log(img.width, img.height);
                        const ratio = window.innerWidth / img.width / 2;
                        const w = img.width * ratio;
                        const h = img.height * ratio;
                        //console.log(img.width, img.height);
                        location_marker.bindPopup(
                            `<img src=${img.src} width=${w} height=${h}><br>
                            <center><button onclick="send()">送信</button></center>`
                        ).openPopup();
                    }
                }
            }

            function send() {
                //document.form_upload.submit();
                const form = document.forms.form_upload;
                const formData = new FormData(form);
                console.log(...formData.entries());
                const xhr = new XMLHttpRequest();
                xhr.open("POST", form.action);
                xhr.send(formData);
                xhr.onreadystatechange = () => {
                    if (xhr.readyState == 4) {
                        if (xhr.responseText == "Success") {
                            location.reload();
                        } else {
                            window.alert(xhr.responseText);
                        }
                    }
                }
            }

            if (window.requestIdleCallback) {
                requestIdleCallback(function () {
                    Fingerprint2.get(function (components) {
                    console.log(components) // an array of components: {key: ..., value: ...}
                    })
                })
            } else {
                setTimeout(function () {
                    Fingerprint2.get(function (components) {
                    console.log(components) // an array of components: {key: ..., value: ...}
                    })  
                }, 500)
            }
        </script>
    </body>
</html>