html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
}

.upper {
    height: 50vh;
}

.lower {
    height: 50vh;
}

#local_video {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 50vh;
    z-index: -100;
}

#camera_canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
}

.select {
    z-index: 100;
}

.camera_button {
    position: absolute;
    top: 45vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 100;
}

#change_button {
    position: fixed;
    left: 5vw;
    bottom: 5vw;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 0;
}

#label_button {
    position: absolute;
    left: 45vw;
    right: 45vw;
    bottom: 5vh;
}

#logout {
    position: absolute;
    top: 5vh;
    right: 1vw;
}

.button {
    text-align: center;
    color: black;
    background-color: lightgray;
    text-decoration: none;
    padding: 6px;
    border-radius: 6px;
    z-index: 100;
}