html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
}

.upper {
    height: 50vh;
}

.lower {
    height: 50vh;
}

#local_video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    width: 100vw;
    z-index: -100;
    margin: 0 auto;
}

#camera_canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    width: 100vw;
    z-index: -100;
    margin: 0 auto;
}

.select {
    z-index: 0;
}

.camera_button {
    position: absolute;
    top: 45vh;
    left: 0;
    right: 0;
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 0;
}
