html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.upper {
    height: 50%;
    /* background-color: #EEEEEE; */
}

.lower {
    height: 50%;
    background-color: #DDDDDD;
}

#local_video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    z-index: -100;
    margin: 0 auto;
}

.select {
    z-index: 0;
}

#map {
    height: 100%;
    width: 100%;
}
